h1{
    margin-left: 500px;
    margin-right: 500px;
    font-family: 'Trebuchet MS';
    border-radius: 10px;
    background-color: rgb(190, 224, 253);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Sofia";
}
h2{
    font-family: 'Trebuchet MS';
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body{
    background: linear-gradient(to bottom,rgb(144, 160, 233), rgb(78, 189, 183));
    text-align: center
}
img{
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
p{
    background-color: rgb(236, 244, 250);
    border-radius: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    font-family: 'Trebuchet MS';
    
}