h1{
    font-family: "Sofia";
    font-size: 40px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h2{
    text-align: center;
    font-family: "Sofia";
    font-size: 30px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p{
    background-color: rgb(238, 185, 115);
    border-radius: 10px;
    text-align: center;
    font-family:'Gill Sans MT';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    color: #583030;
}
body{
    background: linear-gradient(to left,rgb(190, 140, 238), rgb(209, 179, 154));
    background-color: rgb(190, 140, 238);
    text-align: center;

}
img{
    border-radius: 20px;
    border: solid 5px rgb(238, 185, 115);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
img-container {
    display: inline-block;
    margin: 10px; 
}

.img-container img {
    width: 200px; 
    height: 20px; 
}
a{
    text-decoration: none;
    background-color: rgb(238, 185, 115);
    color: #583030;
    border-radius: 5px;
    font-family:'Gill Sans MT';
    font-size: 25px;
    margin: 20px;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a:hover{
    color: white;
}