*{ /* seletor universal:"*" */
    color: blueviolet;
}
table, th, td {
    border: 1px solid black;
    font-family: Arial, sans-serif;
    text-align: center;
}
th{
    color: rgb(73, 129, 129);
}  
